.prices {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--background-color);
  margin-bottom: 50px;

  /* Disabling the div */
  filter: blur(2px);
  -webkit-filter: blur(2px);
  pointer-events: none;
}

.pricesComingSoon {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: var(--headings-font);
  font-size: 20px;
  color: white;
  background-color: red;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 20;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
}

.pricesFilter {
  border-radius: 15px;
  height: fit-content;
  width: 280px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 1px solid #424242;
  margin-right: 10px;
}

.applyChanges {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.applyChangeButton {
  color: #1976d2;
}

.applyChangeButton:hover {
  cursor: pointer;
  text-decoration: underline;
}
.loadingDiv {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: 30px;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  margin-left: 20px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: var(--purple);
  color: var(--purple);
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: var(--purple);
  color: var(--purple);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: var(--purple);
  color: var(--purple);
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: var(--purple);
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

.pricesGraph {
  height: 450px;
  max-width: 70%;
  flex-grow: 1;
  border: 1px solid #424242;
  border-bottom: 0px solid #424242;
  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
}

.pricesGraphMenu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #424242;
  border-top: 0px solid #424242;
  margin-left: -1px;
  padding-bottom: 20px;
  border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -ms-border-radius: 0px 0px 15px 15px;
  -o-border-radius: 0px 0px 15px 15px;
}

.pricesGraphMenuItem {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.pricesGraphMenuItem:hover,
.pricesGraphMenuItem.active {
  background-color: #2b2b2b;
  opacity: 1;
  cursor: pointer;
}

.css-1aznpnh-MuiSlider-root {
  padding: 5px 0 !important;
}

.secondFilters > .filterItem > .filterCheckbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.classFilterCheckbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.classFilterRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.classFilterRow > div {
  display: flex;
  align-items: center;
  padding: 2px 0px;
}

.classFilterRow > div > input,
.filterCheckbox > div > input {
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  background-color: white;
  border: 1px solid var(--blue);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
}

.classFilterRow > div > input:checked,
.filterCheckbox > div > input:checked {
  background-color: var(--blue);
}

.filterCheckbox > div {
  display: flex;
  align-items: center;
}
