.feedback {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.feedbackButton {
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 16px;
  background: var(--blue);
  padding: 0 20px;
  border-radius: 10px;
  color: white;
  opacity: 0.9;
  margin-left: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.feedbackButton:hover {
  opacity: 1;
  cursor: pointer;
}
